/* Landing */
.landing-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.landing-page .body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 84%;
  flex: 1;
}
.landing-page .left {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
}
.landing-page .title {
  font-size: 2.5rem;
  font-family: Inter700;
  color: var(--color-indigo);
  margin-bottom: 0;
}
.landing-page .sub-title {
  font-size: 0.9rem;
  font-family: Inter500;
  margin-top: 0;
  margin-bottom: 2rem;
}

/* Login  */
.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .container {
  width: 70%;
  height: 50%;
  display: flex;
  padding: 1rem;
}
.login-page form {
  width: 50%;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.login-page p {
  margin: 1rem 0;
  font-size: 0.9rem;
}

/* Home */
.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-page .body {
  flex: 1;
}
.home-page .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem 1rem 2rem;
  border-bottom: 1px solid lightgray;
}

/* Job */
.job-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.job-page .container {
  flex: 1;
  padding: 2rem;
}
.job-page .job-title {
  font-size: 1.5rem;
  font-family: Inter700;
  color: var(--color-indigo);
  margin-bottom: 0;
}
.job-page .job-company {
  font-size: 0.9rem;
  font-family: Inter500;
  margin-top: 0;
}
.job-date-applied {
  font-size: 0.9rem;
  font-family: Inter300;
  margin-top: 0;
  margin-bottom: 1rem;
}
.job-date-applied span {
  font-family: Inter700;
  font-size: 1.1rem;
}
.job-page .job-location {
  font-size: 0.9rem;
  font-family: Inter300;
  margin-top: 0;
  margin-bottom: 1rem;
}
.job-status {
  font-size: 0.8rem;
  background-color: var(--color-indigo);
  color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
}
.job-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.job-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.job-company,
.job-location,
.job-role,
.job-status,
.job-date-applied {
  font-size: 16px;
  margin-bottom: 10px;
}

.job-company {
  font-weight: bold;
}

.job-location,
.job-role,
.job-status,
.job-date-applied {
  color: #888;
}

.job-status {
  font-weight: bold;
}

.job-date-applied {
  color: #888;
}

.job-container p {
  margin: 0;
}