.navbar {
  background-color: var(--color-gray);
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 1;
}
.title {
  font-size: 1.5rem;
  font-family: Inter500;
}
.right {
  display: flex;
}
