@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter_18pt-Thin.ttf");
}
@font-face {
  font-family: Inter100;
  src: url("./assets/fonts/Inter_18pt-Regular.ttf");
}
@font-face {
  font-family: Inter200;
  src: url("./assets/fonts/Inter_18pt-Medium.ttf");
}
@font-face {
  font-family: Inter300;
  src: url("./assets/fonts/Inter_18pt-SemiBold.ttf");
}
@font-face {
  font-family: Inter500;
  src: url("./assets/fonts/Inter_18pt-Bold.ttf");
}
@font-face {
  font-family: Inter700;
  src: url("./assets/fonts/Inter_18pt-ExtraBold.ttf");
}

:root {
  --color-black: black;
  --color-white: white;
  --color-gray: #888888;
  --color-indigo: #5f0ab7;
  --color-mantis: #7bc950;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter300;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}
